<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibHashingMonoDB.Properties.Settings.connBase" connectionString="server=dbsarvmysql.publisearch.net;User Id=sa;password=jeanirso04;Persist Security Info=True;database=dbphash"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>